.balloon {
  position: absolute;
  /* margin: 50px; */
  padding: 5px;
  background: white;
  border-radius: 10px;
  min-width: 100px;
  min-height: 30px;
  z-index: 35;
}
.balloonAfter {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  content: '';
  position: absolute;
  top: -10px;
}
